@mixin flexAlign ($hor: center, $vert: center, $pos: row) {
    display: flex;
    justify-content: $hor;
    align-items: $vert;
    flex-direction: $pos;
}


.wrapper {
    width: 100%;
    height: 100vh;   //100% от окна браузера 
    background: lightcyan;
    @include flexAlign;

}

body {
    margin: 0;
}

.container {
    width: 50%;
    min-width: 350px;
    @include flexAlign($pos: column);

    &__list {
        box-shadow: 0 0 10px 0 black;
        background: gray;
        padding: 5px;
        width: 500px;
        @include flexAlign($pos: column);
        overflow: hidden;                 //чтобы эл-ты не вылазили за пределы блока и можно было их скролить
        overflow-y: auto;
        //flex-shrink: 0; //сохраняет размер блока по обоим осям
    }
}

.task {
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    @include flexAlign(flex-start);
    padding: 0 15px;
    box-sizing: border-box;
    background: white;
    border: 1px solid pink;
    border-radius: 4px;

    &__complete {
        margin-right: 10px;

        
     &__complete:checked ~ .task__name {
        text-decoration: line-through;    // чтобы зачёркивать
      }
    }

    &__number {
        font-size: 18px;
        margin-right: 10px;
    }

    &__name {
        font-style: italic;
        font-weight: bold;
    }

    &:last-child {
        margin-bottom: 0;
    }
}